.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    position: relative;
    display: flex;
    margin: auto;
    border: 1px solid #000;
    background-color: #f2f2f2;
  }  